.btn {
  border: none;
  outline: none;
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  padding: 1.2rem 4.3rem;
  border-radius: 20.5px;
  margin: 3.2rem auto;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .btn {
    margin: 4.7rem 4.4rem;
  }
}
